<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinner</title>
</head>
<body>
    <form action="/endpoint">
        <label for="username">User Name:</label>
        <input type="text" id="username" name="username" required>
        <br>
        
        <h1>Choose your experience mode!</h1>
        

        <select name="mode">
            <option value="chooser">Choose your dinner</option>
            <option value="cooker">Receive the results</option>
        </select>


        <br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>